#body {
    margin-bottom: 1.2em;

}

#top-splash {
	max-height: 40px;
	margin: 10px;
}

.header-row {
    margin-bottom:1.2em;
    }

#quit {
    margin-top: 1.2em;
}

table#game_board {
	background-color: #82ca9c;
	margin:auto;
	border-style: solid;
	border-width: 10px;
	border-color: rgb(75,75,75);
	box-shadow: 5px 5px 5px #888888;
}


table#game_board td {
	padding:3px;
	border-style:solid;
	border-width: 1px;
	border-color: rgb(75,75,75);
	background-color: #82ca9c;
}


td.hovered_over:hover {
	background: url('../images/hover.gif'), url('../images/empty.gif');
    background-size: 100% 100%;
}

#messages {
	max-width: 400px;
	margin: 0px;
}

#messages p {
	margin: 0px;
}

.mdl-button {
    margin-bottom: 5px;
}